<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">	
    <title>Login</title>
    <link rel="icon" href="images/car-logo.jpg">
    <link rel="stylesheet" type="text/css" href="css/basic.css">
	<script type="text/javascript" src="js/login.js"></script>
</head>
<body>
  <main>
    <form id="email_form" name="email_form" action="dashboard.html" method="get">
      <div id="mainDiv">
        <h3>SIGN IN</h3>
        <label class="textlabel" for="email_address1">USER NAME</label>
        <input class="textbox" type="text" id="uid" name="user_name" placeholder="user">
		<span id="user_name_error"></span><br>
        <label class="textlabel" for="password">PASSWORD</label>
        <input class="textbox" type="password" id="pwd" name="password" placeholder="Password">
		<span id="pwd_error"></span><br>
        <label>&nbsp;</label>
        <input class="textbox btn" type="button" id="Login" value="Sign In">
    </div>
    </form>
  </main>
</body>
</html>